
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# SQLite database 
database.db

# IDE / Editor configs
.vscode/
.idea/

# Logs
*.log

# Flask instance folder 
instance/
.env